body, html {
  font-size: 16px;
}

.container {
  @include desktop {
    max-width: 800px;
  }
}

.title {
  .image {
    max-width: 25rem;
    margin: 0 auto;
  }
}

.centered {
  margin: 0 auto;
}

.button {
  color: $color-white !important;
  border-width: 3px;
  &:hover {
    border: 3px $color-orange solid;
  }
}

.is-padded {
  padding: 1rem !important;
}

.nav-item {
  color: $color-white !important;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 1.5rem;
  }
}

section .subtitle {
  @media screen and (max-width: 768px) {
    padding: 3em 0 0 0;
  }
}

.section-large {
  padding: 10em 1em;
  @media screen and (min-width: 768px) {
    padding: 10em 0;
  }
}

.beautiful-header {
  background-color: $color-main;
  @media screen and (min-width: 768px) {
    background-image: url('./assets/flourish-bottom.svg'), url('./assets/flourish-top.svg'), radial-gradient(circle, $color-main 0, $color-main-dark 200%);
  }
  background-repeat: no-repeat,
  no-repeat;
  background-position: bottom right,
  top left;
  .subtitle {
    color: #fff;
  }
}

.speaker-footer {
  width: 100%;
  color: white;
  border-radius: 0 0 3px 3px;
  padding: 8px;
  background-color: $color-main;

  strong, i {
    color: white;
  }

  a + a {
    margin-left: 5px;
  }
}

.circle {
  border-radius: 50%;
}

.speaker-image {
  height: 150px;
  @media screen and (max-width: 768px) {
    height: 240px;
  }
  background-size: cover !important;
  border-radius: 3px 3px 0 0;
}

.box.speaker {
  box-shadow: none;
  width: 25%;
  text-align: center;

  p {
    line-height: 1.15em;
  }

  small {
    display: block;
    margin-top: 8px;
  }

  @media screen and (max-width: 768px) {
    max-width: 300px;
    margin: 0 auto;
    width: auto;
  }

  .media {
    @media screen and (max-width: 768px) {
      display: block;
      figure {
        margin: 0 auto 20px auto;
      }
      .content small {
        margin-bottom: -15px;
        display: block;
      }
    }
  }
  .image img {
    border-radius: 50%;
  }
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  span {
    color: $color-orange;
  }
}

.logo-header {
  max-width: 20em;
  margin: auto;
}

.has-primary-color {
  border-color: $color-red;
  color: $color-red;
}

.has-secondary-color {
  border-color: $color-red;
  color: $color-red;
}

.has-transparent-background {
  background: transparent;
}

.is-secondary-button {
  background: $color-red;
  border-color: $color-red;
  color: $color-white;
}

.is-hero-button {
  font-size: 1.2em;
}

.title a {
  text-decoration: none;
  color: #363636;
  cursor: default;
}

#map {
  width: 100%;
  height: 500px;
}

.nav,
.nav-menu {
  background-color: $color-main-dark !important;
}

.hero.is-dark {
  background-color: $color-main-dark;
}

.hero.is-dark .nav-menu {
  background-color: transparent;
}

.table {
  margin-bottom: 3em;
}

.table td,
.table th {
  border: 1px solid #eee;
  border-width: 0 0 1px;
}

@media screen and (max-width: 768px) {
  .table td,
  .table th {
    border: 0;
    border-width: 0 0 1px;
    display: block;
  }
  .table td:last-of-type,
  .table th {
    border: 1px solid #eee;
    border-width: 0 0 1px;
    padding-top: 0;
  }
  .table td:first-of-type {
    font-weight: 600;
  }
}

.image {
  &.is-footer-image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;

    img {
      max-width: 3.5em;
      width: 100%;
      height: auto;
    }
  }
}

.footer-logos {
  width: 20rem;
  margin: 0 auto;
}

.content-container {
  max-width: 740px;
  margin: 0 auto;
}

.question {
  padding-top: 1em;
}

.partner-logo {
  max-width: 240px;
}

.section.section-no-bottom-padding {
  padding-bottom: 0;
}


@media screen and (max-width: 768px) {
  .is-hero-button.is-secondary-button + .is-hero-button.is-secondary-button {
    margin-top: 20px;
  }
}

.nav-item.nav-item-highlighted {
  background-color: rgba(255, 100, 97, 0.85);
}

.table {
  tr.dinner {
    background-color: #f7f7f7;
    
    &:hover {
      background-color: #efefef;  
    }
  }
  
  td.time {
    small {
      font-size: 0.65em; 
    }
  } 
}
