$color-white: #ffffff;
$color-red: #ff5755;
$color-orange: #ff8a5b;
$color-amber: #FF9A56;
$color-blue: #2B81D9;
$color-cyan: #01FFFF;

$color-main: #582d41;
$color-main-dark: #3d1f2d;

$font-header: 'Montserrat', sans-serif;
$font-main: 'Esteban', serif;
