$color-white: #ffffff;
$color-red: #ff5755;
$color-orange: #ff8a5b;
$color-amber: #FF9A56;
$color-blue: #2B81D9;
$color-cyan: #01FFFF;

$color-main: #152347;
$color-main-dark: #3a1e57;

$color-highlight: #761482;
$color-highlight-bright: #ff00aa;

$font-header: 'Montserrat', sans-serif;
$font-main: 'Esteban', serif;
