$color-white: #ffffff;
$color-red: #ff5755;
$color-orange: #ff8a5b;
$color-amber: #FF9A56;
$color-blue: #2B81D9;
$color-cyan: #01FFFF;

$color-main: #0a6421;
$color-main-dark: #033b12;

$color-highlight: #53bc00;
$color-highlight-bright: #00d45c;

$font-header: 'Montserrat', sans-serif;
$font-main: 'Esteban', serif;
