a {
  color: $color-red !important;
}

h2.title {
  color: $color-white !important;
}

.button {
  color: $color-white !important;
}

.nav-item {
  color: $color-white !important;
}

section .subtitle {
  padding: 3em 0;
}

.section-large {
  padding: 10em 0;
}

.beautiful-header {
  background-image: radial-gradient(circle, #3241a6 0, #202a6b 200%);
}

.beautiful-header .subtitle {
  color: #fff;
}

.logo-header {
  max-width: 20em;
  margin: auto;
}

.has-primary-color {
  border-color: $color-orange;
  color: $color-orange;
}

.has-secondary-color {
  border-color: $color-red;
  color: $color-red;
}

.has-transparent-background {
  background: transparent;
}

.is-secondary-button {
  background: $color-red;
  border-color: $color-red;
  color: $color-white;
}

.is-hero-button {
  font-size: 1.2em;
}

.title a {
  text-decoration: none;
  color: #363636;
  cursor: default;
}

#map {
  width: 100%;
  height: 500px;
}

.nav,
.nav-menu {
  background-color: $color-blue !important;
}

.hero.is-dark .nav-menu {
  background-color: transparent;
}