a {
  color: $color-red !important;
}

p {
  line-height: 1.5em;
}

.title {
  .image {
    max-width: 25rem;
    margin: 0 auto;
  }
}

.button {
  color: $color-white !important;
  border-width: 3px;
  &:hover {
    border: 3px $color-orange solid;
  }
}

.is-padded {
  padding: 1rem !important;
}

.nav-item {
  color: $color-white !important;
}

@media screen and (max-width: 992px) {
  .section {
    padding: 2rem 1.5rem;
  }
}

section .subtitle {
  padding: 3em 0;
  @media screen and (max-width: 992px) {
    padding: 3em 0 0 0;
  }
}

.section-large {
  padding: 10em 1em;
  @media screen and (min-width: 992px) {
    padding: 10em 0;
  }
}

.beautiful-header {
  background-color: #3241a6;
  @media screen and (min-width: 992px) {
    background-image: url('./assets/flourish-bottom.svg'), url('./assets/flourish-top.svg'), radial-gradient(circle, #3241a6 0, #202a6b 200%);
  }
  background-repeat: no-repeat,
  no-repeat;
  background-position: bottom right,
  top left;
  .subtitle {
    color: #fff;
  }
}

.box.speaker {
  box-shadow: none;
  .media {
    @media screen and (max-width: 992px) {
      display: block;
      figure {
        margin: 0 auto 20px auto;
      }
      .content small {
        margin-bottom: -15px;
        display: block;
      }
    }
  }
  .image img {
    border-radius: 50%;
  }
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  span {
    color: $color-orange;
  }
}

.logo-header {
  max-width: 20em;
  margin: auto;
}

.has-primary-color {
  border-color: $color-red;
  color: $color-red;
}

.has-secondary-color {
  border-color: $color-red;
  color: $color-red;
}

.has-transparent-background {
  background: transparent;
}

.is-secondary-button {
  background: $color-red;
  border-color: $color-red;
  color: $color-white;
}

.is-hero-button {
  font-size: 1.2em;
}

.title a {
  text-decoration: none;
  color: #363636;
  cursor: default;
}

#map {
  width: 100%;
  height: 500px;
}

.nav,
.nav-menu {
  background-color: $color-blue !important;
}

.hero.is-dark {
  background-color: #3241a6;
}

.hero.is-dark .nav-menu {
  background-color: transparent;
}

.table td,
.table th {
  border: 1px solid #eee;
  border-width: 0 0 1px;
}

@media screen and (max-width: 992px) {
  .table td,
  .table th {
    border: 0;
    border-width: 0 0 1px;
    display: block;
  }
  .table td:last-of-type,
  .table th {
    border: 1px solid #eee;
    border-width: 0 0 1px;
    padding-top: 0;
  }
  .table td:first-of-type {
    font-weight: 600;
  }
}

.image {
  &.is-footer-image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;

    img {
      max-width: 3.5em;
      width: 100%;
      height: auto;
    }
  }
}

.footer-logos {
  width: 20rem;
  margin: 0 auto;
}