h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  text-align: center;
}

h2 {
  padding: 1em 0 1.5em 0;
}

p {
  font-family: $font-main;
  line-height: 1.5em;
  font-size: 1em;
}

a {
  color: $color-red !important;
}

